# Recursive functions examples:

## 1. Fibonacci Sequence

In [77]:
def fibonacci(n):
    if n <= 1:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)
fibonacci(7)

13

## 2. Factorial of a number

In [74]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
factorial(5)

120

## 3. Greatest Common Divisor (GCD)

In [72]:

def gcd(a, b):
    if b == 0:
        return a
    return gcd(b, a % b)

gcd(6,18)

6

## 4. Least Common Multiple (LCM)

In [69]:
def lcm(a, b):
    return abs(a * b) // gcd(a, b)
lcm(3,10)

30

## 5. Power of a number

In [66]:
def power(base, exp):
    if exp == 0:
        return 1
    return base * power(base, exp - 1)
power(2,3)

8

## 6. Sum of digits of a number

In [63]:
def sum_of_digits(n):
    if n == 0:
        return 0
    return n % 10 + sum_of_digits(n // 10)
sum_of_digits(5454)

18

## 7. Reverse digits of a number

In [60]:
def reverse_number(n, rev=0):
    if n == 0:
        return rev
    return reverse_number(n // 10, rev * 10 + n % 10)

reverse_number(9778)

8779

## 8. Sum of first n natural numbers

In [58]:
def sum_natural_numbers(n):
    if n == 0:
        return 0
    return n + sum_natural_numbers(n - 1)
sum_natural_numbers(9)

45

## 9. Check if a number is prime

In [56]:
def is_prime(n, i=2):
    if n <= 2:
        return True if n == 2 else False
    if n % i == 0:
        return False
    if i * i > n:
        return True
    return is_prime(n, i + 1)
is_prime(89)

True

## 10. Nth triangular number

In [54]:
def triangular_number(n):
    if n == 0:
        return 0
    return n + triangular_number(n - 1)
triangular_number(3)

6

## 11. Sum of squares of first n natural numbers

In [50]:
def sum_of_squares(n):
    if n == 0:
        return 0
    return n**2 + sum_of_squares(n - 1)
sum_of_squares(3)

14

## 12. Count digits of a number

In [47]:
def count_digits(n):
    if n == 0:
        return 0
    return 1 + count_digits(n // 10)
count_digits(409)

3

## 13. Decimal to binary conversion

In [44]:

def decimal_to_binary(n):
    if n == 0:
        return ""
    return decimal_to_binary(n // 2) + str(n % 2)
decimal_to_binary(78)

'1001110'

## 14. Sum of digits until a single digit

In [42]:
def digital_root(n):
    if n < 10:
        return n
    return digital_root(n % 10 + digital_root(n // 10))
digital_root(345)

3

## 15. Nth Catalan number

In [35]:

def catalan_number(n):
    if n <= 1:
        return 1
    res = 0
    for i in range(n):
        res += catalan_number(i) * catalan_number(n - i - 1)
    return res
catalan_number(6)

132

## 16. Euclidean algorithm to find GCD

In [33]:
def euclidean_gcd(a, b):
    if b == 0:
        return a
    return euclidean_gcd(b, a % b)
euclidean_gcd(4,7)

1

## 17. Check if a number is a palindrome

In [31]:
def reverse_number(n, rev=0):
    if n == 0:
        return rev
    return reverse_number(n // 10, rev * 10 + n % 10)
def is_palindrome(n):
    return n == reverse_number(n)
is_palindrome(121)

True

## 18. Nth Harmonic number

In [28]:
def harmonic_number(n):
    if n == 1:
        return 1
    return 1 / n + harmonic_number(n - 1)
harmonic_number(8)

2.7178571428571425

## 20. Count number of ways to reach the nth stair (Climbing Stairs)

In [25]:
def count_ways(n):
    if n <= 1:
        return 1
    return count_ways(n - 1) + count_ways(n - 2)
count_ways(5)

8

## 21. sum of array

In [21]:

def sum_array(arr, n):
    if n == 0:
        return 0
    return arr[n-1] + sum_array(arr, n-1)
arr=[40,70,78,90,76,39]
sum_array(arr, 6)

393

## 22. Check if an array is sorted

In [12]:
def is_sorted(arr, n):
    if n == 1:
        return True
    return arr[n-1] >= arr[n-2] and is_sorted(arr, n-1)
arr=[40,70,78,90,76,39]
is_sorted(arr, 6)

False

## 23. Binary search (recursive version)

In [8]:
def binary_search(arr, low, high, x):
    if high >= low:
        mid = (high + low) // 2
        if arr[mid] == x:
            return mid
        elif arr[mid] > x:
            return binary_search(arr, low, mid - 1, x)
        else:
            return binary_search(arr, mid + 1, high, x)
    return -1
binary_search(arr,0,6,90)

3

## 24. Find the maximum element in an array

In [5]:
def find_max(arr, n):
    if n == 1:
        return arr[0]
    return max(arr[n-1], find_max(arr, n-1))
arr=[50,30,2,78,9,2]
find_max(arr,6)

78

## 25. Generate all subsets of a set

In [ ]:
def subsets(s, idx=0, current_set=None):
    if current_set is None:
        current_set = []
    s = list(s)  # Convert set to list for indexing
    if idx == len(s):
        print(current_set)
        return
    subsets(s, idx + 1, current_set + [s[idx]])  # Include current element
    subsets(s, idx + 1, current_set)             # Exclude current element

# Your input set
s = {40, 80, 90}
subsets(s)

## 26. Permutations of a string

In [ ]:

def permute(s, l, r):    
    if l == r:
        print(''.join(s))
    else:
        for i in range(l, r + 1):
            s[l], s[i] = s[i], s[l]
            permute(s, l + 1, r)
            s[l], s[i] = s[i], s[l]  # backtrack
s = list("MISSISSIPPI")  # Convert string to list for mutable swapping
permute(s, 0, len(s) - 1)

## 27. Tower of Hanoi

In [57]:
def tower_of_hanoi(n, source, target, auxiliary):
    if n == 1:
        print(f"Move disk 1 from {source} to {target}")
        return
    tower_of_hanoi(n-1, source, auxiliary, target)
    print(f"Move disk {n} from {source} to {target}")
    tower_of_hanoi(n-1, auxiliary, target, source)
tower_of_hanoi(3,'S','D','T')

Move disk 1 from S to D
Move disk 2 from S to T
Move disk 1 from D to T
Move disk 3 from S to D
Move disk 1 from T to S
Move disk 2 from T to D
Move disk 1 from S to D

## 29. check palindrome string

In [54]:
def is_palindrome_string(s):
    if len(s) <= 1:
        return True
    if s[0] != s[-1]:
        return False
    return is_palindrome_string(s[1:-1])
print(is_palindrome_string("MaM"))
print(is_palindrome_string("maM"))
print(is_palindrome_string("helo"))

True
False
False

## 30. Check if a string is a subsequence of another string

In [37]:
def is_subsequence(s1, s2, m, n):
    if m == 0:
        return True
    if n == 0:
        return False
    if s1[m-1] == s2[n-1]:
        return is_subsequence(s1, s2, m-1, n-1)
    return is_subsequence(s1, s2, m, n-1)
s1="Hello"
s2="Hell"
print(is_subsequence(s1,s2,1,2))

True

## 31. Sum of digits of a number (tail recursion)

In [29]:
def sum_of_digits_tail_recursion(n, sum=0):
    if n == 0:
        return sum
    return sum_of_digits_tail_recursion(n // 10, sum + (n % 10))
print(sum_of_digits_tail_recursion(58))

13

## 32. Count occurrences of an element in an array

In [25]:
def count_occurrences(arr, n, x):
    if n == 0:
        return 0
    count = 1 if arr[n-1] == x else 0
    return count + count_occurrences(arr, n-1, x)
arr=[50,89,6,78,6,7]
print(count_occurrences(arr,5,6))

2

## 33. Find the minimum element in an array

In [23]:
def find_min(arr, n):
    if n == 1:
        return arr[0]
    return min(arr[n-1], find_min(arr, n-1))
arr=[40,50,9,55]
print(find_min(arr,3))

9

## 34. Check if a number is even or odd

In [18]:
def is_even(n):
    if n == 0:
        return True
    if n == 1:
        return False
    return is_even(n-2)
print(is_even(5))

False

## 35. Sum of geometric progression

In [16]:
def geometric_sum(n, a=1, r=2):
    if n == 0:
        return a
    return a * (r**n) + geometric_sum(n-1, a, r)

print(geometric_sum(5,3,4))

4095

## 36. Decimal to hexadecimal conversion

In [14]:
def decimal_to_hex(n):
    if n == 0:
        return ""
    hex_chars = "0123456789ABCDEF"
    return decimal_to_hex(n // 16) + hex_chars[n % 16]
print(decimal_to_hex(59))

3B

## 37. Product of two numbers using recursion (without using *)

In [10]:
def multiply(a, b):
    if b == 0:
        return 0
    return a + multiply(a, b-1)
print(multiply(5,6))

30

## 38. Count ways to cover a distance with 1, 2, or 3 steps

In [7]:
def count_ways_to_cover_distance(n):
    if n == 0:
        return 1
    if n < 0:
        return 0
    return (count_ways_to_cover_distance(n-1) + 
            count_ways_to_cover_distance(n-2) + 
            count_ways_to_cover_distance(n-3))
print(count_ways_to_cover_distance(5))

13

## 39. Sum of cubes of first n natural numbers

In [2]:
def sum_of_cubes(n):
    if n == 0:
        return 0
    return n**3 + sum_of_cubes(n-1)
print(sum_of_cubes(5))

225

## 40. Compute nCr (combinations)

In [5]:

def nCr(n, r):
    if r == 0 or r == n:
        return 1
    return nCr(n-1, r-1) + nCr(n-1, r)
print(nCr(5,2))

10