# Functions in python

## 1. No passing arguments and no return type

In [5]:
def myfun():
    print("Hello Nepal")
myfun()

Hello Nepal

## 2. Passing arguments and no return type

In [6]:
def myfun(name):
    print(f"Hi,{name}")
myfun("Ram Dhami")

Hi,Ram Dhami

## 3. No arguments and return type

In [3]:
def myfunc():
    return "Ram"
name=myfunc()
print("name:",name)

name: Ram

## 4. Passing arguments and return type

In [10]:
def myfunc(name):
    return name
n=myfunc("Ram Dhami")
print("Hello,",n)

Hello, Ram Dhami

## Passing variable as a Refrence

In [18]:
def fun(a,b):
    print(a*b)
fun(a=5,b=6)

30

## Default parameter

In [21]:
def fun1(name="Hari",age=30):
    print(f"Name:{name} and age: {age}")
fun1()
fun1("Ram",60)

Name:Hari and age: 30
Name:Ram and age: 60

## Return multiple arguments:

In [36]:
def myfunc(name,age,phone,salary):
    return name,age,phone,salary
name,age,phone,salary=myfunc("Ram",56,98494061,55000.500)

print(f"Name:{name}\nAge:{age} \nPhone:{phone}\nSalary:{salary}")

Name:Ram
Age:56
Phone:98494061
Salary:55000.5

## Return multiple arguments as tuple:

In [48]:
def myfunc(name,age,phone,salary):
    return name,age,phone,salary
    
data=myfunc("Ram",56,98494061,55000.500)

print(f"Name:{data[0]}\nAge:{data[1]} \nPhone:{data[2]}\nSalary:{data[3]}")

print(len(data))
print(type(data))

Name:Ram
Age:56
Phone:98494061
Salary:55000.5
4
<class 'tuple'>

## Passing list in a function as argument

In [49]:
def myfun(fruits):
    for f in fruits:
        print(f)
fruits=["Apple","Banana","Orange","Mango","Dragon"]
myfun(fruits)

Apple
Banana
Orange
Mango
Dragon

In [50]:
def fun():
    pass
fun()

# Excercise:

## Calculate slope of line

In [ ]:
def slope(x1,y1,x2,y2):
    return (y2-y1)/(x2-x1)
m=slope(5,6,7,8)
print(f"slope: {m}")

slope: 1.0

##  Slope of a line using lambda function

In [63]:
slope = lambda x1,y1,x2,y2:(y2-y1)/(x2-x1)
print(f"slope: {slope(5,6,7,8)}")
type(slope)

slope: 1.0

function

##  Average of two numbers using lambda function

In [66]:
avg= lambda a,b:(a+b)/2
print(f"Average: {avg(10,50)}")

Average: 30.0

## Area of Rectangle

In [67]:
def myfun(l,b):
    return l*b
area=myfun(6,7)
print(area)

42

## Area of circle

In [77]:
PI=3.14
def area(r):
    return PI*r**2
area=area(6)
print(area)

113.04

## Factorial using recursion

In [84]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

## check palindrome number

In [12]:
def check_palindrome(n):
    num1 = n 
    reverse = 0  
    while n > 0:
        digit = n % 10  
        reverse = reverse * 10 + digit  
        n = n//10 

    if num1 == reverse:
        print("It is a palindrome")
    else:
        print("It is not a palindrome")

check_palindrome()

It is not a palindrome

In [19]:
def checkpalindrome(n):
    num1 = n 
    reverse = 0  
    while n > 0:
        digit = n % 10  
        reverse = reverse * 10 + digit  
        n = n//10 
    if num1 == reverse:
        print("It is a palindrome")
    else:
        print("It is not a palindrome")

checkpalindrome(898)

It is a palindrome