## For loop

In [28]:
fruits=["Apple","Banana","Orange","Mango"]
for i in fruits:
    print(i)

Apple
Banana
Orange
Mango

In [30]:
fruits=["Apple","Banana","Orange","Mango"]
for i in range(0,len(fruits)):
    print(fruits[i])

Apple
Banana
Orange
Mango

In [31]:
for n in range(0,10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [32]:
for n in range(0,10):
    print(9-n)

9
8
7
6
5
4
3
2
1
0

In [34]:
for n in reversed(range(0,10)):
    print(n)

9
8
7
6
5
4
3
2
1
0

In [25]:
fruits=["Apple","Banana","Orange","Mango"]
for i in range(len(fruits)):
    print(fruits[i],end=" ")

Apple Banana Orange Mango

## while loop

In [40]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

## nested for loop

In [27]:
for i in range(5):
    for j in range(i):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [35]:
for i in range(5):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [37]:
for i in range(5):
    for j in range(4-i):
        print(j,end=" ")
    print()

0 1 2 3
0 1 2
0 1
0

In [41]:
for i in range(5):
    for j in range(4-i):
        print('*',end=" ")
    print()

* * * *
* * *
* *
*

## break , continue and pass statements

### 1. continue

In [44]:
name="Ramesh"
for n in name:
    if n=='m':
        continue
    print(n)

R
a
e
s
h

### 2. break statement

In [45]:
name="Ramesh"
for n in name:
    if n=='m':
        break
    print(n)

R
a

### 3. pass statement

In [58]:
name="Ramesh"
for n in name:
    if n=="m":
        pass
print(n)

h

In [53]:
name="Ramesh"
for n in name:
    pass
    print(n)

R
a
m
e
s
h

In [61]:
name="SUKUMARAN"
for n in name:
    pass
print(n)

N

## 1. Multiplication table of given integer

In [65]:
n=int(input("Enter any number:"))
            
for i in range(0,11):
    print(f"{n} * {i} = {n*i}")

Enter any number: 8

8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [70]:
n=int(input("Enter any number:"))
            
for i in range(10):
    print(f"{n} * {i+1} = {n*(i+1)}")

Enter any number: 7

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

## Count digit

In [3]:
num=7898080
count=0
while num>0:
    count=count+1
    num=num//10
print(count)

7

## count chaacter

In [4]:
name="Ramesh bahadur"

count=0
for i in name:
    count=count+1
print(count)

14

## 2. Fibonacci series

In [33]:
a=0
b=1
c=a+b
print(a)
print(b)
print(c)
for i in range(0,7):
    a=b
    b=c
    c=a+b
    print(c)

0
1
1
2
3
5
8
13
21
34

In [3]:
a=-1
b=1
c=a+b
for i in range(0,10):
    c=a+b
    a=b
    b=c
    print(c)
# it is efficient and good approch

0
1
1
2
3
5
8
13
21
34