## Classes and Objects
- ____init_ ___ for constructor
- self for access its own data

In [23]:
class Student:
    def __int__(self):
        self.name="Ramesh"
        self.roll=40
    def __init__(self,name,roll):
        self.name=name
        self.roll=roll
    # def __str__(self):
    #    return(f"{self.name}\n{self.roll})

std=Student("Ram",45)
# print(std)
print("Name:",std.name)
print("Roll:",std.roll)

Name: Ram
Roll: 45

In [29]:
class employee:
    def __init__(self,eid,name,address,salary):
        self.eid=eid
        self.name=name
        self.address=address
        self.salary=salary
    def display(self):
        print(f"EID:{self.eid}")
        print(f"Name:{self.name}")
        print(f"Address:{self.address}")
        print(f"Salary:{self.salary}")
    
emp=employee(2001,"Ramesh","Kathmandu",55000)
emp.display()

EID:2001
Name:Ramesh
Address:Kathmandu
Salary:55000

In [28]:
class employee:
    
    def setdata(self,eid,name,address,salary):
        self.eid=eid
        self.name=name
        self.address=address
        self.salary=salary
    def display(self):
        print(f"EID:{self.eid}")
        print(f"Name:{self.name}")
        print(f"Address:{self.address}")
        print(f"Salary:{self.salary}")
    
emp=employee()
emp.setdata(2001,"Ramesh","Kathmandu",55000)
emp.display()

EID:2001
Name:Ramesh
Address:Kathmandu
Salary:55000

In [48]:
class employee:
    
    def __init__(self):
        self.eid=None
        self.name=None
        self.address=None
        self.salary=None
    def setdata(self,eid,name,address,salary):
        self.eid=eid
        self.name=name
        self.address=address
        self.salary=salary
    def display(self):
        print(f"EID:{self.eid}")
        print(f"Name:{self.name}")
        print(f"Address:{self.address}")
        print(f"Salary:{self.salary}")
    
emp=employee()
emp.setdata(2001,"Ramesh","Kathmandu",55000)
emp.display()

EID:2001
Name:Ramesh
Address:Kathmandu
Salary:55000

In [55]:
# # to change value
emp.eid=5003
emp.name="Ram"
emp.display()

EID:5003
Name:Ram
Address:Kathmandu
Salary:55000

## to delete object

In [54]:

# del emp.eid
# print(emp.eid)
emp.display()

AttributeError: 'employee' object has no attribute 'eid'